/* positioning styles */
/* body {
    position: relative;
} */

p {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.redbg {
    background-color: red;

}

.orangebg {
    background-color: orange;
    right: 5px;

}

.yellowbg {
    background-color: yellow;
}

.greenbg {
    background-color: green;
}

#a {
    position: absolute;
}

#r {
    position: relative;
}